body {
    background: rgb(0, 0, 0);
}

.grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr 3fr 1fr); 
    grid-gap: 1em;
    grid-auto-rows: minmax(100px, auto);
}

.items-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr 1fr); 
    grid-gap: 1em;
}

div#title {
    border: 2px dotted rgb(77, 77, 77);
    background-color: rgb(18, 18, 18);
    text-align: center;
    font-size: 4em;
    line-height: 0em;
}

.grid > div {
    padding: 1em;
    color: white;
}

.menu {
    display: grid;
    grid-gap: 2em;
    grid-auto-rows: auto;
    grid-auto-columns: 100%;
}

.menu > div {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
    font-size: 2em;
    
}

.menu-element {
    opacity: 0.4;
    color: rgb(60, 60, 60);
    cursor: pointer;
    transition: 0.3s;
}

.menu-element:hover {
    opacity: 1;
    color: red;
}

.menu-element-off {
    opacity: 0.4;
    color: rgb(60, 60, 60);
    cursor: not-allowed;
}

.input-styles {
    background: black;
    color: rgb(194, 185, 162);
    text-align: right;
    font-size: 0.7em;
}

.input-styles-inp {
    width: fit-content;
    background: black;
    color: rgb(194, 185, 162);
    text-align:left;
    border: 3px solid rgb(96, 0, 0);
    font-size: 0.7em;
}

.input-styles-inp-success {
    resize: none;
    /* width:100%; */
    height:auto;
    background: black;
    color: rgb(255, 0, 0);
    text-align:left;
    border: 3px solid rgb(96, 0, 0);
    font-size: 0.7em;
}

.input-styles-inp-num {
    width:80px;
    background: black;
    color: rgb(194, 185, 162);
    text-align:center;
    border: 3px solid rgb(96, 0, 0);
    font-size: 0.7em;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

input:focus {
    color: rgb(255, 0, 0);
    outline: 2px solid rgb(255, 68, 0);  
}

input.visited {
    color: rgb(255, 0, 0);
    outline: 2px solid rgb(255, 68, 0);  
}

textarea:focus {
    color: rgb(255, 0, 0);
    outline: 2px solid rgb(255, 68, 0);  
}

textarea.visited {
    color: rgb(255, 0, 0);
    outline: 2px solid rgb(255, 68, 0);  
}

.input-styles-button {
    color: rgb(194, 185, 162);
    width: fit-content;
    text-align: center;
    font-size: 1em;
    background-color: rgb(96, 0, 0);
    color: rgb(0, 0, 0);
}

.form {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.room-form {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.item-form {
    width: 50%;
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 2%;
}

.setting-div {
    width: 5%;
    margin-left:auto;
    margin-right: auto;
    text-align:right;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

.items-radio-div {
    width: 35%;
    margin-left:auto;
    margin-right: auto;
    text-align:right;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    
    
}

.warning {
    overflow: auto;
    text-align: center;
    color: rgb(194, 185, 162);
}
.corner-active {
    border: 3px solid rgb(255, 0, 0);
    max-width: 92%;
    max-height:92px;
    overflow:auto;
    display:inline-block;
}

.corner-inactive {
    background: black;
}

.interface {
    height: 60vh;
    overflow:auto;
    text-align:center;
    font-size: 1.5em;
    text-indent: 50px;
    line-height: 1.8;
    
}

div.interface {
    color: rgb(194, 185, 162);
}

.interface::-webkit-scrollbar {
    display: none;
}

.action-menu {
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.action-menu > div {
    padding: 0.5em;
    text-align: center;
    font-size: 20px;
    
}

.context-menu {
    display: flex;
    flex-direction:column;
    justify-content: space-between;
}

.context-menu > div {
    padding: 1em;
    text-align: center;
    font-size: 20px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    
}

input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #000000;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid rgb(96, 0, 00);
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #323232;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid rgb(255, 0, 0);
}

.items-alternate>form:nth-child(odd){
    background-color:rgb(15, 15, 15);
}

.items-alternate>form:nth-child(even){
background-color:rgb(7, 7, 7);
}

.items-alternate>form>label:nth-child(odd){
    background-color:transparent
}

.items-alternate>form>label:nth-child(even){
background-color:transparent
}

.items-alternate>form>div>div>label:nth-child(odd){
    background-color:transparent
}

.items-alternate>form>div>div>label:nth-child(even){
background-color:transparent
}

.items-alternate>form>p:nth-child(odd){
    background-color:transparent
}

.items-alternate>form>p:nth-child(even){
background-color:transparent
}

.items-alternate>form>div>label:nth-child(odd){
    background-color:transparent
}

.items-alternate>form>div>label:nth-child(even){
background-color:transparent
}

.saved {
    background-color: rgb(0, 24, 0) !important;
}