body {
    background: black;
}

.grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr 3fr 1fr); 
    grid-gap: 1em;
    grid-auto-rows: minmax(100px, auto);
}

div#title {
    border: 2px dotted rgb(77, 77, 77);
    background-color: rgb(18, 18, 18);
    text-align: center;
    font-size: 4em;
    line-height: 0em;
}

.grid > div {
    padding: 1em;
    color: white;
}

.menu {
    display: grid;
    grid-gap: 2em;
    grid-auto-rows: auto;
    grid-auto-columns: 100%;
}

.menu > div {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
    font-size: 2em;
    
}

.menu-element {
    opacity: 0.2;
    color: rgb(60, 60, 60);
    cursor: pointer;
    transition: 0.3s;
}

.menu-element:hover {
    opacity: 1;
    color: red;
}



.interface {
    height: 60vh;
    overflow:auto;
    text-align:justify;
    font-size: 1.5em;
    text-indent: 50px;
    line-height: 1.8;
    
}

.interface::-webkit-scrollbar {
    display: none;
}

.action-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.action-menu > div {
    padding: 0.5em;
    text-align: center;
    font-size: 20px;
    
}

.context-menu {
    display: flex;
    flex-direction:column;
    justify-content: space-between;
}

.context-menu > div {
    padding: 1em;
    text-align: center;
    font-size: 20px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    
}